<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Prince_Adminlogs::adminlogs" sortOrder="10" title="adminlogs">
					<resource id="Prince_Adminlogs::adminlogs_save" sortOrder="10" title="Save adminlogs"/>
					<resource id="Prince_Adminlogs::adminlogs_delete" sortOrder="20" title="Delete adminlogs"/>
					<resource id="Prince_Adminlogs::adminlogs_update" sortOrder="30" title="Update adminlogs"/>
					<resource id="Prince_Adminlogs::adminlogs_view" sortOrder="40" title="View adminlogs"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
