<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Reports::report">
					<resource id="Prince_Adminlogs::adminlogs" title="MagePrince AdminLogs" translate="title" sortOrder="10" />
				</resource>
			</resource>
		</resources>
	</acl>
</config>
